<!DOCTYPE html>
<html>
  <head>
    <title>OAuth 2.0 Client Example</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <!-- -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body class="enyo-unselectable">

  <style type="text/css" media="all">
  <% include assets/stylesheets/screen.css %>
  </style>

  <section id="body" class="enyo-fit enyo-clip">
    <h1>OAuth 2.0 Client Example</h1>
    <section class="enyo-panels enyo-arranger enyo-arranger-fit enyo-panels-fit-narrow" id="main">
      <div style="transform: translateZ(0px); opacity: 1;" id="form-fields">
        <a href="/auth">Login using the OAuth 2.0 Server</a>
      </div>
    </section>
  </section>
  </body>
</html>
